@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body, html {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container{

    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faf2e8;
    

}

.contenedor {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;    
    max-width: 400px;
    width: 100vh;   
    height: 50vh;  
    border-radius: 40px;
    background-color: #fffdec ;
    padding: 20px;

}

.btn {
    width: 40%;
    margin: 15px;
    height: auto;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;    
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    background-color: #013c77;
    cursor: pointer;
}

.btn:hover {
    background-color: #1c69b7;
    color: #ffffff;
}

.title {

    margin-bottom: 20px;
    border-radius: 15px;
    width: auto;
    height: auto;
    font-size: 25px;

}

.components {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}